@model RatherThis.Models.RegisterModel
@{
    Layout = null;
}

@using (Ajax.BeginForm("Register", "Account", new AjaxOptions{
            UpdateTargetId = "registration",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "registration-ajax-loading"
        })) 
    {
    @Html.ValidationSummary()
    <div>
        <fieldset>
            <div class="editor-field gender-field">
                <span class="female">@Html.RadioButtonFor(m => m.Gender, "F", new{id="gender-female"})<label for="gender-female" >Female</label></span>
                <span class="male">@Html.RadioButtonFor(m => m.Gender, "M", new{id="gender-male"})<label for="gender-male" >Male</label></span>
                
            </div>

            <div class="editor-field">
                <label for="register-username" >Enter Username</label>
                @Html.TextBoxFor(m => m.UserName, new { id="register-username" })
            </div>

            <div class="editor-field">
                <label for="register-email" >Enter Email</label>
                @Html.TextBoxFor(m => m.Email, new { id = "register-email" })
            </div>

            <div class="editor-field">
                <label for="register-pw" >Enter Password</label>
                @Html.PasswordFor(m => m.Password, new { id="register-pw" })
            </div>

            <div class="editor-field">
                <label for="register-pw-confirm" >Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { id="register-pw-confirm" })
            </div>

            <p>
                <input type="submit" value="Register" />
            </p>
        </fieldset>
    </div>
}

