@model RatherThis.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset My Password | RatherThis";
}

<div class="forgot-pw-form">

@using (Html.BeginForm())
{
    <div class="left">
        <h2>Reset Password</h2>
        @if (!Model.IsTokenExpired)
        {
            <p>Please reset your password for <span>@Model.Email</span></p>
        @Html.ValidationSummary()
        <div>
            <div class="editor-label">
                @Html.LabelFor(e => e.Password)*
            </div>
            <div class="editor-label">
                @Html.EditorFor(e => e.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(e => e.ConfirmPassword)*
            </div>
            <div class="editor-label">
                @Html.EditorFor(e => e.ConfirmPassword)
            </div>
            <input type="submit" value="Use New Password!" />
        </div>
        }
        else
        {
            <p>Sorry, your token is invalid. <a href="@Url.Action("ForgotPassword")">You can request a password reset here.</a></p>
        }
    </div>
    
    <div class="right">
    </div>
     
    <div class="clear"></div>
}


</div>

