@model RatherThis.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset My Password - Fun And Interesting Questions To Think About - RatherThis.com";
}

<div class="misc">
<h2>RESET PASSWORD</h2>
<p class="message">Please reset your password for <span>@Model.Email</span>.</p>
@using (Html.BeginForm())
{
    if (!Model.IsTokenExpired)
    {
    @Html.ValidationSummary()
    <div>
        <div class="editor-field">
            @Html.LabelFor(e => e.Password)
            @Html.EditorFor(e => e.Password)
        </div>
        <div class="editor-field">
            @Html.LabelFor(e => e.ConfirmPassword)
            @Html.EditorFor(e => e.ConfirmPassword)
        </div>

        <input type="submit" value="UPDATE PASSWORD" />
    </div>
    }
    else
    {
        <p>Sorry, your token is invalid. <a href="@Url.Action("ForgotPassword")">You can request a password reset here.</a></p>
    }
    
}


</div>

