@model RatherThis.Models.AnswerDisplayViewModel

@if (Model != null)
{
    var genderTag = "FOR EVERYONE";
    if (Model.Gender == "F")
    {
        genderTag = "FOR THE LADIES";
    }
    else if (Model.Gender == "M")
    {
        genderTag = "FOR THE GUYS";
    }
    double optionPercent1;
    double optionPercent2;
    //check for total votes before doing any % calculations, if its 0, then both should be 0%*@
    if (Model.TotalVotes > 0)
    {
        optionPercent1 = (double)Model.OptionVotes1 / Model.TotalVotes;
        optionPercent2 = 1 - optionPercent1;
    }
    else
    {
        optionPercent1 = optionPercent2 = 0;
    }
    
    <div class="answer-display">
    <span>@Model.Date.ToString("MMM dd yyyy").ToUpper()</span>
    <span>@genderTag</span><span>Checked</span>
    <h1>would you rather...</h1>
    
    <div>
        <p>@Model.OptionText1</p>
        @optionPercent1.ToString("0.0%") (@Model.OptionVotes1 votes)
    </div>
    <div>
        <p>@Model.OptionText2</p>
        @optionPercent2.ToString("0.0%") (@Model.OptionVotes2 votes)
    </div>
    
    <p>asked by: @Model.Name</p>
    
    <div id="question-@Model.QuestionId-comment">
        @{ Html.RenderAction("NewComment", "Question", new { qid = Model.QuestionId, oid = Model.AnsweredOptionId }); }
    </div>

        <div id="question-@Model.QuestionId-comment-list">
        @{ Html.RenderAction("CommentList", "Question", new { qid = Model.QuestionId, listSize = 10 }); }
        </div>
    </div>
}   