@model RatherThis.Models.AnswerDisplayViewModel

@if (Model != null)
{
    var genderTag = "FOR ALL";
    if (Model.Gender == "F")
    {
        genderTag = "FOR THE LADIES";
    }
    else if (Model.Gender == "M")
    {
        genderTag = "FOR THE GUYS";
    }
    double optionPercent1;
    double optionPercent2;
    //check for total votes before doing any % calculations, if its 0, then both should be 0%*@
    if (Model.TotalVotes > 0)
    {
        optionPercent1 = (double)Model.OptionVotes1 / Model.TotalVotes;
        optionPercent2 = 1 - optionPercent1;
    }
    else
    {
        optionPercent1 = optionPercent2 = 0;
    }
    
    <div class="answer-display">
    <p class="question-date">@Model.Date.ToString("MMM dd yyyy").ToUpper()</p>
    <p class="gender-tag @Model.Gender">@genderTag</p>@*<span class="checked"></span>*@
    <h1 class="question">would you rather...</h1>
    
    <div class="answer-option">
        <p>@Model.OptionText1?</p>
        <p class="vote-result-percent-indicator first">@optionPercent1.ToString("0.0%")</p>
        @*<span class="vote-count">0 votes</span>*@
        <div class="vote-result-bar-container">
        @{var voteText1 = Model.OptionVotes1 > 1 ? "votes" : "vote";}
        @if (optionPercent1 == 0)
        {
            voteText1 = "votes";
            <div class="vote-result-bar none"></div>
        }
        else
        {
            
            <div class="vote-result-bar fill" style="width: @optionPercent1.ToString("0.0%");"></div>
        }
        <span class="vote-count first">@Model.OptionVotes1 @voteText1</span>
        </div>
        
    </div>

    <div class="answer-option">
        <p class="vote-result-percent-indicator">@optionPercent2.ToString("0.0%")</p>
        @*<span class="vote-count second">20 votes</span>*@
        <div class="vote-result-bar-container">
        @{ var voteText2 = Model.OptionVotes2 > 1 ? "votes" : "vote";}
        @if (optionPercent2 == 0)
        {
            voteText2 = "votes";
            <div class="vote-result-bar none"></div>
        }
        else
        {
            <div class="vote-result-bar fill" style="width: @optionPercent2.ToString("0.0%");"></div>
        }
        <span class="vote-count second">@Model.OptionVotes2 @voteText2</span>
        </div>
        
        <p>@Model.OptionText2?</p>
        
    </div>
    
        <p class="ask-name answer">asked by: <a href="@Url.Action("UserDetail", "Account", new { username = Model.QuestionUsername })"><span class="@Model.QuestionUserGender">@Model.Name</span></a></p>
        <a href="javascript:void(0)" class="comment-link" onclick="toggleComments(this)">SEE COMMENTS (@Model.NumComments)</a>
        <div class="comment-container" style="display:none;">
            <div id="question-@Model.QuestionId-comment" class="comment-box">
                @{ 
                Html.RenderAction("NewComment", "Question", new { qid = Model.QuestionId, oid = Model.AnsweredOptionId });
                }
            </div>

            <div id="question-@Model.QuestionId-comment-list" class="comment-list">
            @{ Html.RenderAction("CommentList", "Question", new { qid = Model.QuestionId, listSize = 10 }); }
            </div>

            <a class="question-detail-link" href="">view more</a>
        </div>
    </div>
}   