@model RatherThis.Models.AnswerDisplayViewModel

@if (Model != null)
{    
    var genderTag = "FOR EVERYONE";
    if (Model.Gender == "F")
    {
        genderTag = "FOR THE LADIES";
    }
    else if (Model.Gender == "M")
    {
        genderTag = "FOR THE GUYS";
    }
    var optionPercent1 = (double)Model.OptionVotes1 / Model.TotalVotes;
    var optionPercent2 = 1 - optionPercent1;
    
    <div class="answer-display">
    <span>@Model.Date.ToString("MMM dd yyyy").ToUpper()</span>
    <span>@genderTag</span><span>Checked</span>
    <h1>would you rather...</h1>
    
    <div>
        <p>@Model.OptionText1</p>
        @optionPercent1.ToString("0.0%") (@Model.OptionVotes1 votes)
    </div>
    <div>
        <p>@Model.OptionText2</p>
        @optionPercent2.ToString("0.0%") (@Model.OptionVotes2 votes)
    </div>
    
    <p>posted by: @Model.Name</p>
    
    <text>TODO-COMMENTS</text>
    </div>
}