@using RatherThis.Code

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Using google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>RATHERTHIS</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">
                @{ 
                    var topViewedSort = RatherThis.Code.Constants.QuestionSort.TOP_VIEWED.ToString().ToLower(); 
                    var genderFemale = RatherThis.Code.Constants.Gender.F.ToString().ToLower();
                    var genderMale = RatherThis.Code.Constants.Gender.M.ToString().ToLower();
                }
                <ul id="menu">
                    <li>@Html.ActionLink("LATEST", "Index", "Question", null, null)</li>
                    <li>@Html.ActionLink("TOP VIEWED", "Index", "Question", new { sort = topViewedSort }, null)</li>
                    <li>@Html.ActionLink("FOR THE LADIES", "Index", "Question", new { gender = genderFemale }, null)</li>
                    <li>@Html.ActionLink("FOR THE GUYS", "Index", "Question", new { sort = genderMale }, null)</li>
                </ul>

            </div>
        </div>

        <div>
        @if (!Utility.IsAuthenticated())
        {
            <a href="javascript:void(0);" onclick="toggleRegistration()">REGISTER</a>
            <div id="registration" style="display:none;">
                @{ Html.RenderAction("Register", "Account"); }
            </div>
            
            <div id="login">
                @{ Html.RenderAction("LogOn", "Account"); }
            </div>
        }
        else
        {
            <a href="javascript:void(0);" onclick="toggleNewQuestion()">NEW QUESTION</a>
            <div id="new-question">
                @{ Html.RenderAction("New", "Question"); }
            </div>
        }

        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
